@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
*{padding: 0px;margin: 0px;border: 0px;text-decoration: none;}

body{
    background: url(thumb.jpg) center top no-repeat fixed;
    background-size: cover;
}
.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}
.cabecalho-imagem{
    height: 47px;
}
.cabecalho-menu{
    display: flex;
    gap: 18px;
}
.cabecalho-item{
    padding: 4px;
    color: black;
    font-family: 'Sarala', sans-serif;
}
.principal{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:95px 0px;
}
.principal-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.principal-titulo{
    font-family: 'Sarala', sans-serif;
    text-align: center;
}
.principal-paragrafo{
    font-family: 'Righteous';
    font-weight:100;
    width: 250px;
}
.principal-imagem{
    height: 250px;
}
.principal-botao{
    width: 85px;
    height: 29px;
    border-radius: 17px;
    font-family: 'Righteous';
}

.rodape{
    padding: 18px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.rodape-imagem{
    margin: auto;
    width: 251px;
}
.rodape-paragrafo{
    font-family: 'Sarala', sans-serif;
    color: black;
}
